.aboutText {
    grid-column: 7 / 12;
    justify-self: center;
    text-align: left;
    margin: 100px auto 0px auto;
}

@media screen and (max-width: 1024px) {
    .aboutText {
        grid-column: 3 / 11;
        margin-top: 80px;
    }
}

@media screen and (max-width: 768px) {
    .aboutText {
        grid-column: 1 / 13;
    }
}

@media screen and (max-width: 400px) {
    .aboutText {
        margin-top: 40px;
    }
}


.aboutImageContainer {
    grid-column: 1 / 6;
    justify-self: center;
    text-align: left;
    margin: 100px auto 0px auto;
}

@media screen and (max-width: 1024px) {
    .aboutImageContainer {
        grid-column: 1 / 13;
        justify-self: center;
        margin-top: 80px;
    }
}

@media screen and (max-width: 400px) {
    .aboutImageContainer {
        margin-top: 40px;
    }
}

.aboutImage {
    display: block;
    max-width: 100%;
    height: auto;
}

@media screen and (max-width: 1024px) {
    .aboutImage {
        max-height: 600px;
    }
}

.socialIcon {
    margin-top: 16px;
    padding-right: 12px;
    width: 28px;
}

@media screen and (max-width: 400px) {
    .socialIcon {
        padding-right: 18px;
    }
}