/* Thumbnail Animation -- NOT WORKING */

.thumbnailContainer:hover {
    clip-path: inset(80%, 80%);
    transform: scale(1.1);
}

/* Scroll Trigger Animation -- NOT WORKING */

.visible {
    animation: slidein 1s ease forwards;
}

/* Slide In Animation */

 .slideIn {
    animation: slidein 1s ease forwards;
    -webkit-animation: slidein 1s ease forwards;
    -moz-animation: slidein 1s ease forwards;
    -ms-animation: slidein 1s ease forwards;
    -o-animation: slidein 1s ease forwards;
 }

@keyframes slidein {
    from {
        transform: translate3d(0, 10%, 0);
        opacity: 0;
    }
    to {
        transform: translate3d(0, 0, 0);
        opacity: 1;
    }
}

@-webkit-keyframes slidein {
    from {
        transform: translate3d(0, 10%, 0);
        opacity: 0;
    }
    to {
        transform: translate3d(0, 0, 0);
        opacity: 1;
    }
}

@-moz-keyframes slidein {
    from {
        transform: translate3d(0, 10%, 0);
        opacity: 0;
    }
    to {
        transform: translate3d(0, 0, 0);
        opacity: 1;
    }
}

@-ms-keyframes slidein {
    from {
        transform: translate3d(0, 10%, 0);
        opacity: 0;
    }
    to {
        transform: translate3d(0, 0, 0);
        opacity: 1;
    }
}

@-o-keyframes slidein {
    from {
        transform: translate3d(0, 10%, 0);
        opacity: 0;
    }
    to {
        transform: translate3d(0, 0, 0);
        opacity: 1;
    }
}