/* Thumbnail Animation */

.thumbnail {
    -webkit-transition: all .35s ease-in-out;
    -moz-transition: all .35s ease-in-out;
    transition: all .35s ease-in-out;
}

.thumbnailContainer {
    overflow: hidden;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.thumbnailContainer:hover {
    -webkit-transform: scale(.98);
    -moz-transform: scale(.98);
    transform: scale(.98);
}

.thumbnailContainer > img {
    margin: 0;
}

.thumbnailContainer:hover > .thumbnail {
    -webkit-transform: scale(1.09);
    -moz-transform: scale(1.09);
    transform: scale(1.09);
}

/* Slide In Animation */

.beforeAnimation {
    transform: translate3d(0, 10%, 0);
    opacity: 0;
}

 .slideIn {
    -webkit-animation: slidein 1s ease forwards;
    -moz-animation: slidein 1s ease forwards;
    animation: slidein 1s ease forwards;
 }

 @-webkit-keyframes slidein {
    from {
        transform: translate3d(0, 10%, 0);
        opacity: 0;
    }
    to {
        transform: translate3d(0, 0, 0);
        opacity: 1;
    }
}

@-moz-keyframes slidein {
    from {
        transform: translate3d(0, 10%, 0);
        opacity: 0;
    }
    to {
        transform: translate3d(0, 0, 0);
        opacity: 1;
    }
}

@keyframes slidein {
    from {
        transform: translate3d(0, 10%, 0);
        opacity: 0;
    }
    to {
        transform: translate3d(0, 0, 0);
        opacity: 1;
    }
}