.caseStudies {
    max-width: 1200px;
    margin: 120px auto 80px auto;
    text-align: center;
}

.thumbnail {
    display: block;
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
    margin-top: 20px;
}

.thumbnailContainer {
    margin-top: 40px;
    background: #000000;
    position: relative;
}

.thumbnailContainer img {
    opacity: 0.8;
}

.thumbnailContainer__text {
    z-index: 100;
    position: absolute;
    text-align: center;
    width: 100%;
    height: 20%;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.thumbnailContainer__text h3, .thumbnailContainer__text p {
    color: white;
    margin: 0;
}

.thumbnailContainer__text h3 {
    margin: 0 0 12px 0;
}

.thumbnailContainer__text p {
    margin: 0;
}