.footerBackground {
    background-color: #f7f7f7;
}

.wrapperFooter {
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    padding: 80px 0 100px 0;
}

@media screen and (max-width: 1200px) {
    .wrapperFooter {
        margin: 80px 40px 0 40px;
    }
}

@media screen and (max-width: 400px) {
    .wrapperFooter {
        margin: 40px 20px 0 20px;
    }
}

.wrapperFooter__connect {
    flex: 1;
    margin-right: 40px;
}

.wrapperFooter__connect p {
    font-weight: 800;
}

.wrapperFooter__linkedin {
    flex: 1;
}

.wrapperFooter__dribbble {
    flex: 1;
}

.wrapperFooter__instagram {
    flex: 1;
}

.wrapperFooter__copyright {
    flex: 3;
    text-align: right;
}

.wrapperFooter__copyright p {
    color: #6F6F6F;
}