.heroPhoto {
    display: block;
    max-width: 100%;
    height: auto;
    margin-bottom: 80px;
}

.largePhoto {
    display: block;
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.verticalPhoto {
    max-height: 400px;
}

.rightArrow {
    margin-left: 5px;
    width: 8px;
}

.leftArrow {
    margin-right: 5px;
    width: 8px;
}

@media screen and (max-width: 400px) {
    .heroPhoto {
        margin-bottom: 40px;
    }
}