.largePhoto {
    display: block;
    max-width: 100%;
    height: auto;
    margin-bottom: 12px;
}

.photoBorder {
    border: 1px solid #E9E9EE;
}

.gridPhoto {
    display: block;
    max-width: 100%;
    height: auto;
    margin-bottom: 12px;
}

.verticalPhoto {
    max-height: 350px;
}