/* Body */

body {
    margin: 0px;
}

/* 12-Column Grid */

.twelve-grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-auto-rows: minmax(40px, auto);
    max-width: 1200px;
    margin: 0 auto;
    grid-gap: 20px;
    justify-content: center;
    align-content: start;
}

.wrapperContent {
    margin-top: 80px;
    grid-column: 4 / 13;
}

@media screen and (max-width: 1200px) {
    .twelve-grid {
        margin-left: 80px;
        margin-right: 80px;
    }
}

@media screen and (max-width: 1024px) {
    .wrapperContent {
        margin-top: 80px;
        grid-column: 1 / 13;
    }
}

@media screen and (max-width: 768px) {
    .twelve-grid {
        margin-left: 40px;
        margin-right: 40px;
    }
}

@media screen and (max-width: 500px) {
    .twelve-grid {
        margin-left: 20px;
        margin-right: 20px;
    }
}

/* 9-Column Grid */

.nine-grid {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-auto-rows: minmax(40px, auto);
    max-width: 1200px;
    margin: 0 auto;
    grid-gap: 20px;
    grid-row-gap: 24px;
    justify-content: center;
    align-content: start;
}

/* Gallery Page */

.galleryIntro{
    grid-column: 1 / 10;
    margin-bottom: 56px;
}

.galleryProjectThumbnail{
    grid-column: 1 / 10;
}

.thumbnail {
    display: block;
    max-width: 100%;
    height: auto;
}

.galleryProjectTitle {
    grid-column: 1 / 7;
}

.galleryProjectInfo {
    grid-column: 7 / 10;
    margin-bottom: 64px;
}

.galleryProjectInfo h5 {
    margin-bottom: 8px;
}

/* Project Page */
.projectIntro {
    grid-column: 1 / 7;
    margin-bottom: 56px;
}

.projectIntro h2 {
    margin-bottom: 24px;
}

.projectDetails {
    grid-column: 7 / 10;
}

@media screen and (max-width: 769px) {
    .projectIntro {
        grid-column: 1 / 10;
    }

    .projectDetails {
        grid-column: 1 / 10;
    }
}

.projectDetails h5 {
    margin-bottom: 40px;
}

.projectImage {
    grid-column: 1 / 10;
    display: block;
    max-width: 100%;
    height: auto;
    margin-bottom: 80px;
}

.projectText {
    grid-column: 1 / 7;
    margin-bottom: 80px;
}

.projectText p {
    margin-top: 16px;
}

@media screen and (max-width: 769px) {
    .projectText {
        grid-column: 1 / 10;
    }
}

.nextProject {
    grid-column: 1 / 10;
    margin-bottom: 80px;
}

/* Photography Page */
.photoHeader {
    grid-column: 1 / 7;
}

.photoSubheader {
    grid-column: 7 / 10;
    margin-bottom: 56px;
}

.leftImage {
    grid-column: 1 / 5;
    justify-self: center;
    margin-bottom: 56px;
}

.rightImage {
    grid-column: 6 / 10;
    justify-self: center;
    margin-bottom: 56px;
}

@media screen and (max-width: 769px) {  
    .photoHeader {
        grid-column: 1 / 10;
    }
    
    .photoSubheader {
        grid-column: 1 / 10;
        margin-bottom: 56px;
    }
    
    .leftImage {
        grid-column: 1 / 10;
    }

    .rightImage {
        grid-column: 1 / 10;
    }
}

/* About Page */
.aboutHeader {
    grid-column: 1 / 7;
}

.aboutText {
    grid-column: 1 / 7;
}

.aboutImage {
    grid-column: 1 / 5;
    margin-top: 32px;
}

.aboutImageCaption {
    grid-column: 5 / 10;
    margin-top: 20px;
}

.aboutWriting {
    grid-column: 1 / 7;
    margin-top: 56px;
    margin-bottom: 56px;
}

.aboutWriting p {
    margin-top: 16px;
}

@media screen and (max-width: 769px) {  
    .aboutHeader {
        grid-column: 1 / 10;
    }
    
    .aboutText {
        grid-column: 1 / 10;
    }

    .aboutWriting {
        grid-column: 1 / 10;
    }

    .aboutImage {
        grid-column: 1 / 6;
        margin-top: 32px;
    }
    
    .aboutImageCaption {
        grid-column: 6 / 10;
        margin-top: 20px;
    }
}