.idea {
    padding: 20px 0;
    border-top: 2px solid #000000; 
}

.idea--last {
    padding: 20px 0;
    border-top: 2px solid #000000; 
    border-bottom: 2px solid #000000;
}

.idea p, .idea--last p {
    margin-bottom: 0px;
}

.idea img, .idea--last img {
    padding-left: 4px;
}