body {
    margin: 0;
}

.wrapperContent {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-auto-rows: minmax(60px, auto);
    max-width: 1200px;
    margin: 20px auto 80px auto;
    grid-column-gap: 40px;
    grid-row-gap: 20px;
    justify-content: center;
    align-content: start;
}

.wrapperContent__content {
    grid-column: 3 / 11;
    margin-bottom: 40px;
}

@media screen and (max-width: 1200px) {
    .wrapperContent {
        margin-left: 40px;
        margin-right: 40px;
    }
}

@media screen and (max-width: 1024px) {
    .wrapperContent__content {
        grid-column: 2 / 12;
    }
}

@media screen and (max-width: 768px) {
    .wrapperContent {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-auto-rows: minmax(60px, auto);
        max-width: 1200px;
        margin: 20px 40px 80px 40px;
        grid-column-gap: 40px;
        grid-row-gap: 20px;
        justify-content: center;
        align-content: start;
    }

    .wrapperContent__content {
        grid-column: 1 / 7;
    }
}

@media screen and (max-width: 400px) {
    .wrapperContent {
        margin-left: 20px;
        margin-right: 20px;
    }
}