body {
    margin: 0px;
}

/* Content wrappers */
.wrapperContent--firstOnPage {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-auto-rows: minmax(60px, auto);
    max-width: 1200px;
    margin: 120px auto 0px auto;
    grid-column-gap: 40px;
    grid-row-gap: 20px;
    justify-content: center;
    align-content: start;
}

.wrapperContent {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-auto-rows: minmax(60px, auto);
    max-width: 1200px;
    margin: 0 auto;
    grid-gap: 20px;
    justify-content: center;
    align-content: start;
}

@media screen and (max-width: 1200px) {
    .wrapperContent--firstOnPage {
        margin: 80px 40px 0 40px;
    }

    .wrapperContent {
        margin: 0px 40px 0 40px;
    }
}

@media screen and (max-width: 400px) {
    .wrapperContent--firstOnPage {
        margin: 80px 20px 0 20px;
    }

    .wrapperContent {
        margin: 0px 20px;
    }

}

/* Image wrappers */
.main-content-grid__fullWidthImage {
    grid-column: 1 / 13;
    justify-self: start;
}

.main-content-grid__fullWidthImage p, .leftImage p, .rightImage p {
    margin: 0 0 80px 0;
}

@media screen and (max-width: 400px) {
    .main-content-grid__fullWidthImage p, .leftImage p, .rightImage p  {
        margin: 0 0 40px 0;
    }
}

/* Page text wrappers */
.main-content-grid__pageText {
    grid-column: 4 / 10;
    justify-self: start;
    margin-bottom: 80px;
}

@media screen and (max-width: 1024px) {
    .main-content-grid__pageText {
        grid-column: 3 / 11;
    }
}

@media screen and (max-width: 768px) {
    .main-content-grid__pageText {
        grid-column: 1 / 13;
    }
}

@media screen and (max-width: 400px) {
    .main-content-grid__pageText {
        margin-bottom: 40px;
    }
}

.main-content-grid__pageText h3 {
    margin: 0 0 80px 0;
}

@media screen and (max-width: 400px) {
    .main-content-grid__pageText h3 {
        margin: 0 0 40px 0;
    }  
}

.main-content-grid__pageText--center {
    grid-column: 1 / 13;
    justify-self: center;
}

@media screen and (max-width: 400px) {
    .main-content-grid__pageText--center h2 {
        text-align: center;
    }
}

/* Next project wrappers */
.main-content-grid__nextProject {
    grid-column: 1 / 13;
    justify-self: center;
}

@media screen and (max-width: 500px) {
    .wrapperContent--firstOnPage {
        display: block;
    }
}