.wrapperNav {
    display: flex;
}

.wrapperNav__logo {
    flex: 1;
    margin: 36px 0 0 80px;
}

@media screen and (max-width: 1200px) {
    .wrapperNav__logo {
        margin-left: 40px;
    }
}

@media screen and (max-width: 400px) {
    .wrapperNav__logo {
        margin-left: 20px;
    }
}