.wrapperNav {
    grid-column: 1 / 3;
    margin-top: 80px;
}

.wrapperNav_navItem {
    display: block;
    margin-bottom: 16px;
}

.wrapperNav_navItem a {
    color: #232323;
}

.wrapperNav_navItem a:hover {
    border-bottom: solid 1px #232323;
  }

.navItem {
    padding-bottom: 4px;
}

.navItem--active {
    border-bottom: solid 1px #232323;
}

.wrapperNav_navItem p {
    margin-top: 80px;
}

@media screen and (max-width: 1024px) {
    .wrapperNav {
        grid-column: 1 / 13;
    }
}