/* Project gallery intro text */
.project-gallery__intro {
    grid-column: 1 / 13;
    justify-self: start;
    margin-bottom: 80px;
}

@media screen and (max-width: 1024px) {
    .project-gallery__intro {
        grid-column: 1 / 13;
    }
}

@media screen and (max-width: 400px) {
    .project-gallery__intro {
        margin-bottom: 40px;
    }
}

/* Thumbnail image */
.thumbnail {
    display: block;
    max-width: 100%;
    height: auto;
}

/* Axios thumbnail container */
#axiosThumbnail {
    grid-column: 1 / 7;
    justify-self: start;
    margin-bottom: 80px;
}

/* Upchieve thumbnail container */
#upchieveThumbnail {
    grid-column: 7 / 13;
    justify-self: start;
    margin-bottom: 80px;
}

/* Pinna thumbnail container */
#pinnaThumbnail {
    grid-column: 1 / 7;
    justify-self: start;
    margin-bottom: 80px;
}

/* Megaphone thumbnail container */
#megaphoneThumbnail {
    grid-column: 7 / 13;
    justify-self: start;
    margin-bottom: 80px;
}

/* AIGA Emerging Voices thumbnail container */
#emergeThumbnail {
    grid-column: 1 / 7;
    justify-self: start;
    margin-bottom: 80px;
}

@media screen and (max-width: 1024px) {
    #axiosThumbnail, #upchieveThumbnail, #pinnaThumbnail, #megaphoneThumbnail, #emergeThumbnail  {
        grid-column: 1 / 13;
        justify-self: center;
    }
}

@media screen and (max-width: 500px) {
    .thumbnailContainer  {
        margin-top: 80px;
    }
}