.project-gallery__intro {
    grid-column: span 12;
    justify-self: start;
    margin-bottom: 80px;
}

.thumbnail {
    display: block;
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
    margin-top: 20px;
}

@media screen and (max-width: 400px) {
    .project-gallery__intro {
        margin-bottom: 40px;
    }

    .thumbnail {
        margin-bottom: 5px;
    }
}

/* #blogThumbnail {
    grid-column: 1 / 7;
    justify-self: start;
} */

#pinnaThumbnail {
    grid-column: 1 / 7;
    justify-self: start;
}

#megaphoneThumbnail {
    grid-column: 7 / 13;
    justify-self: start;
}

#gaThumbnail {
    grid-column: 1 / 7;
    justify-self: start;
}

@media screen and (max-width: 1200px) {
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
    #pinnaThumbnail, #megaphoneThumbnail, #gaThumbnail  {
=======
    #blogThumbnail, #pinnaThumbnail, #megaphoneThumbnail, #gaThumbnail  {
>>>>>>> parent of 336e2b3... Tried to fix gallery
=======
    #blogThumbnail, #pinnaThumbnail, #megaphoneThumbnail, #gaThumbnail  {
>>>>>>> parent of 336e2b3... Tried to fix gallery
=======
    #blogThumbnail, #pinnaThumbnail, #megaphoneThumbnail, #gaThumbnail  {
>>>>>>> parent of 336e2b3... Tried to fix gallery
=======
    #blogThumbnail, #pinnaThumbnail, #megaphoneThumbnail, #gaThumbnail  {
>>>>>>> parent of 336e2b3... Tried to fix gallery
=======
    #blogThumbnail, #megaphoneThumbnail, #gaThumbnail  {
>>>>>>> parent of ea956fd... Tried to fix gallery again
        grid-column: 1 / 13;
        justify-self: center;
    }
}