.main-content-grid__sideBar {
    grid-column: 9 / 12;
    justify-self: start;
}

@media screen and (max-width: 1024px) {
    .main-content-grid__sideBar {
        grid-column: 3 / 12;
        margin-bottom: 80px;
    }
}

@media screen and (max-width: 768px) {
    .main-content-grid__sideBar {
        grid-column: 1 / 13;
    }
}

@media screen and (max-width: 400px) {
    .main-content-grid__sideBar {
        grid-column: 1 / 13;
        margin-bottom: 40px;
    }
}

.main-content-grid__sideBar p {
    font-style: italic;
    line-height: 21px;
}

.main-content-grid__sideBar h6 {
    line-height: 15px;
    color: #9B9B9B;
}

.sideBarLink:hover {
    color: #009ED7;
}

.main-content-grid__sideBar__firstRow {
    border-bottom: 1px solid #f7f7f7;
    padding-bottom: 20px;
}

.main-content-grid__sideBar__row {
    margin-top: 30px;
    border-bottom: 1px solid #f7f7f7;
    padding-bottom: 20px;
}

.main-content-grid__sideBar__lastRow {
    margin-top: 30px;
}