.main-content-grid__sideBar {
    grid-column: 1 / 4;
    justify-self: start;
    margin: 0 40px 0 40px;
}

@media screen and (max-width: 1024px) {
    .main-content-grid__sideBar {
        grid-column: 3 / 12;
        margin-left: 0px;
        margin-right: 0px;
        margin-bottom: 80px;
    }
}

@media screen and (max-width: 768px) {
    .main-content-grid__sideBar {
        grid-column: 1 / 13;
    }
}

@media screen and (max-width: 400px) {
    .main-content-grid__sideBar {
        grid-column: 1 / 13;
        margin-bottom: 40px;
    }
}

.main-content-grid__sideBar p {
    line-height: 21px;
}

.main-content-grid__sideBar__row--first {
    border-bottom: 1px solid #ecf0f5;
    padding-bottom: 20px;
}

.main-content-grid__sideBar__row {
    margin-top: 30px;
    border-bottom: 1px solid #ecf0f5;
    padding-bottom: 20px;
}

.main-content-grid__sideBar__row--last {
    margin-top: 30px;
}