h1 {
    font-family: 'Work Sans', sans-serif;
    font-size: 45px;
    font-weight: 300;
    line-height: 54px;
    color: #232323;
}

h2 {
    font-family: 'Work Sans', sans-serif;
    font-size: 16px;
    font-weight: 900;
    line-height: 24px;
    color: #232323;
}

p {
    font-family: 'Work Sans', sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    color: #232323;
}

a {
    font-family: 'Work Sans', sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    text-decoration: none;
    color: #ff0e50;
}

.socialIcon {
    padding-right: 12px;
    width: 26px;
}

@media screen and (max-width: 400px) {
    h1 {
        font-size: 28px;
    }

    .socialIcon {
        margin-top: 16px;
        padding-right: 24px;
        width: 32px;
    }
}