h1 {
    font-family: 'Work Sans', sans-serif;
    font-size: 45px;
    font-weight: 400;
    line-height: 125%;
    color: #232323;
}

.project-gallery__intro h1 {
    line-height: 150%;
}

h2 {
    font-family: 'Work Sans', sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 150%;
    color: #232323;
}

h3 {
    font-family: 'Work Sans', sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 125%;
    color: #232323;
}

h4 {
    font-family: 'Work Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
    color: #6e757e;
}

h5 {
    font-family: freight-micro-pro, serif;
    font-size: 16px;
    font-weight: 600;
    font-style: italic;
    line-height: 125%;
    color: #232323;
}

.main-content-grid__sideBar h4 {
    font-size: 14px;
}

@media screen and (max-width: 1024px) {
    .main-content-grid__sideBar h4 {
        font-size: 16px;
    }
}

p {
    font-family: 'Work Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
    color: #232323;
}

a, a :visited {
    font-family: 'Work Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
    text-decoration: none;
    color: #232323;
}

.project-gallery__intro a {
    font-family: 'Work Sans', sans-serif;
    font-size: 45px;
    font-weight: 400;
    line-height: 125%;
    color: #232323;
}

strong {
    font-weight: 600;
}

.extraMarginTop {
    margin-top: 80px;
}

.noMarginTop {
    margin-top: 0px;
}

@media screen and (max-width: 1024px) {
    h1, .project-gallery__intro a  {
        font-size: 34px;
    }
}

@media screen and (max-width: 400px) {
    h1, .project-gallery__intro a {
        font-size: 28px;
    }

    .extraMarginTop {
        margin-top: 40px;
    }
}