.writing {
    grid-column: 3 / 11;
    justify-self: center;
    text-align: center;
}

@media screen and (max-width: 1080px) {
    .writing {
        grid-column: span 12;
    }
}

.writing h1 {
    margin-bottom: 40px;
}

.writing__article {
    margin-bottom: 40px;
}

.writing__link:hover {
    color: #009ED7;
}